@charset "utf-8";
/* CSS Document */

body {
	font-family: 'Roboto', sans-serif;
	color: #2d3c49;
}

a, a:hover {
	color: #2d3c49;
	font-size: 14px;
	font-weight: 400;
}

header {
	text-transform: uppercase;
  	border-bottom: 3px solid #7d97ad;
}

header h1 {
	font-weight: 100;
	margin-bottom: 0;
}

header h3 {
    font-weight: 400;
	margin-top: 0;
	margin-bottom: 20px;
}

.navbar, navbar-custom {
	border-bottom: 2px solid #7d97ad;
	border-right: 1px solid transparent;
	border-top: 1px solid transparent;
	border-left: 1px solid transparent;
}

.navbar-custom {
	background-color: #02b3e4;
	border-bottom: 2px solid #7d97ad !important;
}

.navbar-default .navbar-nav>li>a {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 15px;
	padding-bottom:	15px;
	color: #FFFFFF !important;
}

.u_nav_logo {
	padding: 0;
	height: 50px;
}

.u_logo {
	max-width: 75px;
}

.header-featured {
    color: #7d97ad;
    font-weight: 300;
	font-size: 2em;
}

.projects-featured {
	text-align: center;
}

.projects-featured h3 {
    font-weight: 400;
    text-transform: uppercase;
}

@media (min-width: 768px){
	header {
    	text-align: right;
	}
	
	header h1 {
	    font-size: 4em;
	}
	
	h2 {
		font-size: 2.5em;
	}
	
	.u_logo {
		max-width: 100px;
	}
}	
